Package: dorian
Priority: extra
Maintainer: Akos Polster <akos@pipacs.com>
Homepage: http://akos.pipacs.com
Architecture: armel
Depends: zlib1g
Description: E-book reader
 Read books published in DRM-free EPUB format
XB-Maemo-Display-Name: Dorian
Section: user/education
