Source: dorian
Section: user/education
Priority: extra
Maintainer: Merlijn Wajer <merlijn@wizzup.org>
Build-Depends: debhelper (>= 10),
    qtbase5-dev,
    qt5-default,
    libqt5webkit5-dev,
    libqt5x11extras5-dev,
    libqt5maemo5-dev,
    libhildon1-dev,
    libhildondesktop1-dev,
    mce-dev
Homepage: https://github.com/maemo-leste-extras/dorian
XSBC-Bugtracker: https://github.com/maemo-leste-extras/dorian/issues
Vcs-Git: https://github.com/maemo-leste-extras/dorian/
Vcs-Browser: https://github.com/maemo-leste-extras/dorian/

Package: dorian
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    zlib1g,
    mce,
    libqt5webkit5,
    libqt5x11extras5,
    libqt5network5,
    qt-platform-maemo,
Description: E-book reader
 Read books published in DRM-free EPUB format
XB-Maemo-Display-Name: Dorian
XB-Maemo-Icon-26: ${MaemoIcon26}
