#!/usr/bin/make -f

%:
	dh $@

override_dh_gencontrol:
	debian/dh_maemo_icon
	dh_gencontrol

override_dh_auto_configure:
	dh_auto_configure -- dorian.pro -spec maemo

# Disable dh_dwz enabled with debhelper 12, as it do not seem to work
# on Maemo
override_dh_dwz:
