Source: dorian
Section: user/education
Priority: extra
Maintainer: Akos Polster <akos@pipacs.com>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 5)
Homepage: http://akos.pipacs.com

Package: dorian
Architecture: armel
Depends: zlib1g
Description: E-book reader
 Read books published in DRM-free EPUB format
XB-Maemo-Display-Name: Dorian
