Source: dorian
Section: user/education
Priority: extra
Maintainer: Akos Polster <akos@pipacs.com>
Build-Depends: debhelper (>= 5), libqt4-dev, libhildon1-dev, libhildondesktop1-dev, mce-dev
Homepage: http://dorian.garage.maemo.org
XSBC-Bugtracker: https://garage.maemo.org/tracker/?atid=6138&group_id=1757

Package: dorian
Architecture: armel
Depends: zlib1g, libqt4-core (>= 4.6.1), libqt4-gui (>= 4.6.1), libqt4-webkit (>= 4.6.1), libqt4-xml (>= 4.6.1), libqt4-dbus (>= 4.6.1), mce
Description: E-book reader
 Read books published in DRM-free EPUB format
XB-Maemo-Display-Name: Dorian
