[Desktop Entry]
Categories=Education;
Encoding=UTF-8
Exec=/usr/bin/dorian
Icon=dorian
Name=Dorian
Terminal=false
Type=Application
Version=1.0
X-Osso-Type=application/x-executable
X-Window-Icon=dorian
